<h1>Groups</h1>
<div>
<%= button_to 'New Group', new_group_path, :method => :get %>
</div>
<p></p>
<div>
  <table>
<% @groups.each do |g| %>
  <tr>
    <td><%=g.name%></td>
    <td>
      <%= g.item_categories.map(&:category).join(', ') %>
    </td>
    <td><%= link_to 'edit', edit_group_path(g) %></td>
  </tr>
<% end %>
  </table>
  <p></p>
  <div>
<%= button_to 'New Group', new_group_path, :method => :get %>
</div>
</div>
